[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = {git = "git+https://github.com/eternnoir/pyTelegramBotAPI.git"}
matplotlib = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
